<a href="https://colab.research.google.com/github/sharmavishek/MYPROJ/blob/master/DiabetesSvmModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

Data Collection

In [ ]:
df = pd.read_csv('diabetes.csv')

Data Preprocessing

In [ ]:
df.shape

(768, 9)

In [ ]:
df.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
df.isnull().any(axis=0)

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [ ]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
df.groupby('Outcome').std()

         Pregnancies    Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                          ...
0           3.017185  26.141200  ...                  0.299085  11.667655
1           3.741239  31.939622  ...                  0.372354  10.968254

[2 rows x 8 columns]

In [ ]:
X = df.iloc[:,:-1]
Y = df.iloc[:,-1]

# Data standarization
# -->why it is require to standarized a data?
if we see the range of each feature is different, like pregnacies lies btw 1-10, glucose->10-200,etc. So, for making them in the same scale range we standarize our data, which also helps our model to make a good prediction.

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
standarizer = StandardScaler()

In [ ]:
standarizer.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
standarized_data = standarizer.transform(X)

In [ ]:
standarized_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [ ]:
X = standarized_data

Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2,stratify = Y)

Model Creation and training

In [ ]:
from sklearn import svm

In [ ]:
model = svm.SVC(kernel='linear')

In [ ]:
model.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# Model Evaluation
Accuracy Check

In [ ]:
from sklearn.metrics import accuracy_score
Train_predict = model.predict(X_train)
train_accuracy = accuracy_score(Train_predict,Y_train)
print('Accuracy on train data: ', train_accuracy)

Accuracy on train data:  0.7833876221498371

In [ ]:
Test_predict = model.predict(X_test)
test_accuracy = accuracy_score(Test_predict,Y_test)
print('Accuracy on test data: ', test_accuracy)

Accuracy on test data:  0.7402597402597403